* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f5f5f5;
}

.main {
    width: 90%;
    max-width: 420px;
    margin: 1.5rem auto;
    background-color: #CADCFC;
    color: #00246B;
    border-radius: 6px;
    padding: 1.5rem;
}

#header {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
}

.balance-section {
    background-color: #00246B;
    color: #f5f5f5;
    width: 100%;
    padding: 1.3rem;
    border-radius: 6px;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
}

.balance-section h1 {
    font-size: 2rem;
    font-weight: 600;
}

.summary {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.card {
    flex: 1;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card h4 {
    color: #00246B;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.card p {
    font-size: 1.4rem;
    font-weight: 600;
}

.income p {
    color: #0fa80f;
}

.expense p {
    color: #e32626;
}

.add-transaction h3 {
    margin-bottom: 0.7rem;
    font-weight: 600;
}

.add-transaction input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 0.8rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
}

.add-transaction button {
    width: 100%;
    padding: 0.9rem;
    background-color: #00246B;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
}

.add-transaction button:hover {
    background-color: #001c56;
}

.history-title {
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}

.transaction-list {
    list-style: none;
}

.transaction-list li {
    background-color: #ffffff;
    color: #00246B;
    padding: 0.8rem;
    margin-bottom: 0.7rem;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.08);
}

.transaction-list li.positive {
    border-right: 5px solid #0fa80f;
}

.transaction-list li.negative {
    border-right: 5px solid #e32626;
}

.transaction-list li.minus {
    border-right: 5px solid #e32626;
}


.transaction-list button {
    background: transparent;
    border: none;
    color: red;
    font-size: 1.2rem;
    cursor: pointer;
}

.chart-section {
    background-color: #ffffff;
    padding: 1.2rem;
    border-radius: 6px;
    margin-top: 1.5rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.08);
}

.chart-section h3 {
    color: #00246B;
    margin-bottom: 0.8rem;
    font-weight: 600;
    text-align: center;
}

#expense-chart {
    width: 100%;
    max-height: 260px; 
}

.chart-section {
    margin-top: 1.5rem;
    background: #ffffff;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}